mixin renderCardsCollection(cards, hideDetail)
  each card in cards
    div.four.wide.column
      +renderCard(card, hideDetail)


mixin createPagination(pages)
  div.content.row
    div.ui.pagination.menu
      - for (var i = 0; i < pages.total; ++i) {
        a(class=(pages.currentPage === i ? 'active item' : 'item'),
          href=`/cards?page=${i}&limit=${pages.limit}`
          )= i+1
      - }


mixin renderCard(card, hideDetail)
  div.ui.card
    div.content
      div.header.ui.center.aligned.grid.card-name
        a(href='/cards/' + card.idName)=card.name
    div.image.card-image-container
      a(href='/cards/' + card.idName, title='Details')
        img(src='http://www.clashapi.xyz/images/cards/' + card.idName + '.png').card-image

    unless hideDetail    
      div.content-detail
        div.ui.grid
          div.seven.wide.column.card-options
            i.elixir.icon
            span.detail-label x #{card.elixirCost}

          div.seven.wide.column.card-options
            a(title='Add to deck').right.aligned
              i.add.circle.icon.button

mixin renderCardWithDetail(card)
  div.ui.grid.stackable
    div.four.wide.column
      img(src='http://www.clashapi.xyz/images/cards/' + card.idName + '.png', class='card-image-detail')
    div.twelve.wide.column
      h2.card-info-name= card.name
      div.content.ui.grid
        div.five.column.row
          div.left.floated.column
            p.text-faded= `${card.type} - ${card.rarity}`
          div.right.floated.column
            p.text-faded Cost: #{card.elixirCost}
              i.elixir.icon.card-detail
      div.content.ui.grid
        h5.twelve.wide.column Description:
        p= card.description
