extends layout

block content
  div.background.players
    div.blur
  h1.background-image-text.title= pageHeader.title
  h4.background-image-text.text= pageHeader.subtitle

  div.container.row.pushup.higher
    ul.collection
      each player in players
        li.collection-item
          div.players-detail
            div.row
              div.col.s4
                h5.players-header= `Level ${player.level}`
                div.players-description
                  i.protect.icon
                  span= `XP: ${player.maxExp}`
              div.col.a4
                h5.players-header Arena Towers
                div.players-description
                  i.full.heart.icon
                  span= ` HP: ${player.arenaTowers.hitpoints}`
                  i.bomb.icon
                  span= ` DMG: ${player.arenaTowers.damage}`
              div.col.s4
                h5.players-header King's Tower
                div.players-description
                  i.full.heart.icon
                  span= ` HP: ${player.kingsTower.hitpoints}`
                  i.bomb.icon
                  span= ` DMG: ${player.kingsTower.damage}`

  div.row.container
    div.card
      div.card-content
        div.card-title
          h4 Note:
        p Arena towers hitspeed and is always
          strong  0.8
          | , and range is
          strong  7.5.
        p King's Tower hitspeed is
          strong  1
          |  and range is
          strong  7.